[*]
charset = utf-8


[*.{vue,html}]
indent_style = space
indent_size = 2

[*.{ts,tsx,js,jsx}]
indent_style = space
indent_size = 4

[*.{sass,scss,css}]
indent_style = space
indent_size = 4

[*.{json,toml}]
indent_style = space
indent_size = 4